@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --colour-soft-orange: hsl(35, 77%, 62%);
    --colour-soft-red: hsl(5, 85%, 63%);
    --colour-off-white: hsl(36, 100%, 99%);
    --colour-grayish-blue: hsl(233, 8%, 79%);
    --colour-dark-grayish-blue: hsl(236, 13%, 42%);
    --colour-very-dark-blue: hsl(240, 100%, 5%);

    font-family: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav, main, section {
    width: 100%;
}

h1 {
    color: var(--colour-very-dark-blue);
    font-size: 2.6rem;
    line-height: 1.5ch;
}

p {
    font-size: 15px;
    color: var(--colour-dark-grayish-blue);
    line-height: 2.5ch;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.mobile-nav {
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

main img {
    width: 100%;
    height: auto;
}

main button {
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    color: var(--colour-off-white);
    background-color: var(--colour-soft-red);
    font-weight: 600;
    letter-spacing: 0.5ch;
}

.section-2 {
    background-color: var(--colour-very-dark-blue);
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.section-2 h2 {
    color: var(--colour-soft-orange);
}

.section-2 h3 {
    color: var(--colour-off-white);
    margin-bottom: 0.5rem;
}

.section-2 p {
    color: var(--colour-grayish-blue);
    opacity: 0.8;
}

.section-2 hr {
    border: 0.5px solid var(--colour-grayish-blue);
    opacity: 0.8;
}

.text-boxes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.article-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    column-gap: 1rem;
}

.article-box h2 {
    color: var(--colour-grayish-blue);
    font-size: 2rem;
}

.article-box h3 {
    color: var(--colour-very-dark-blue);
}

.article-box p {
    color: var(--colour-dark-grayish-blue)
}

.article-box img {
    grid-row: 1 / 4;

    width: 100%;
    height: auto;
}